/******************
ELEMENT TAGS
******************/
html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;

	font-family: "Red Hat Display", sans-serif;
}

header {
	margin: 0 auto;
	padding: 8rem 0 6rem;
}

main {
	display: flex;
	flex-direction: column;
	gap: 30rem;
	margin-bottom: 18rem;
}

h1 {
	color: #28283d;
	font-size: 6.4rem;
	font-weight: 900;
	line-height: 1;
	padding: 0 4rem;
}

h2 {
	font-size: 4rem;
	color: #28283d;
	line-height: 1.1;
}

p {
	color: #87879d;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.7;
}

strong {
	font-weight: 900;
}

/******************
CLASS SELECTORS
******************/
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 150rem;
	margin: 0 auto;
}

.width-2 {
	width: 111rem;
}

.img {
	/* width: 100%;
	height: 100%; */
}

.hero-section {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 14rem;
	overflow-x: hidden;
}
.hero-image-left {
	margin-left: -3rem;
}
.hero-image-right {
	margin-right: -3rem;
}
.hero-image {
}

.hero-center {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
	align-items: center;
	text-align: center;
}

.cta-section {
	display: flex;
	gap: 1.6rem;
}
.btn {
	border: none;
	font-size: 1.6rem;
	border-radius: 3rem;
	color: #fff;
	padding: 1.6rem 4rem;
}
.btn-teal {
	background-color: #4d96a9;
}
.btn-purple {
	background-color: #855fb1;
	padding: 1.6rem 3rem;
}
.content-section {
	display: flex;
	flex-direction: column;
	gap: 8rem;
	margin: 0 auto;
}

.content-description {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	padding: 0 30rem;
	text-align: center;
}

.image-banner {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 3rem;

	list-style: none;
}
.image-item {
	border-radius: 9px;
	overflow: hidden;
}
.banner-image {
	width: 100%;
	height: 100%;
}
.heading-emphasis {
	display: block;
	color: #4d96a9;
	font-size: 1.6rem;
	letter-spacing: 0.4rem;
	text-transform: uppercase;
}

.downloads-section {
	background-image: url("../assets/desktop/image-footer.jpg");
	background-size: cover;
	background-color: #4d96a9;
}
.footer-bg {
}

.footer-heading {
}
